{% extends 'base.html' %}  <!-- Trae el contenido de base.html salvo los huecos -->

{% block section %}

    <h1>Bienvenido a Frikr</h1>
    <p>Version de Flikr</p>

    {%if photos_list|length > 0 %}
        <h2>últimas fotos publicadas</h2>
        {% for photo in photos_list %}
            <a href="photos/{{ photo.pk }}">
                <img src="{{ photo.url }}" alt="{{ photo.name }}" height="220">
            </a>
        {% endfor %}
    {% else %}
         ¡Publica la primera foto! 
    {% endif %}

{% endblock %}

